---
import "../styles/global.css"
import { Navigation } from "../components/Navigation"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Exiled</title>
		<link rel="icon" type="image/x-icon" href="/Astro.svg" />
	</head>
	<body >
		<Navigation />
		<slot/>
	</body>
</html>
