---
import "../assets/styling/css.css"
import { Navigation } from "../components/Navigation"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Exile Me</title>
		<link rel="icon" type="image/x-icon" href="../assets/images/favicon/Astro.ico">
	</head>
	<body>
		<Navigation />
		<slot/>
	</body>
</html>
