.vscode
.gitignore
Extraction
Modules/NineManga/Info/Info.html
Modules/NineManga/MainPage/MainPage1.html
Modules/Drama_Cool/Info/test.html
Modules/NineAnime/helper
Modules/Practice

## Astro
# build output
# dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
